name: Refresh New Recruit
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Refresh New Recruit
        run: curl --request GET "https://www.newrecruit.eu/api/check-for-update/BSData/mordheim"
